<h1 class="display-4">Welcome To WorkForce</h1>
<p class="mb-4">This is a Sails.js app for managing employees and jobs</p>
<a href="/employee/list" class="btn btn-light">View Employees</a>
<a href="/employee/add" class="btn btn-light">Add Employee</a>
<a href="/role/list" class="btn btn-light">View Roles</a>
<a href="/role/add" class="btn btn-light">Add Role</a>